spring:
  cache:
    type: redis
  redis:
    host: localhost
    lettuce:
      pool:
        max-active: 16
        max-wait: 10ms
  application:
    name: cms-portal
  datasource:
    url: jdbc:mysql://localhost:3306/cms_portal
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8090
logging:
  level:
    root: info
  file:
    name: cms-portal.log
