spring:
  cache:
    type: redis
  redis:
    host: redis-svc
    port: 6379
    lettuce:
      pool:
        max-active: 16
        max-wait: 10ms
  application:
    name: cms-portal
  datasource:
    url: jdbc:mysql://mysql-svc:3306/cms_portal
    username: root
    password: 1234
#    hikari:
#      minimum-idle: 2
#      maximum-pool-size: 10
#      idle-timeout: 120000
#      connection-timeout: 300000
#      leak-detection-threshold: 300000
    tomcat:
      max-active: 150

  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
    properties:
      hibernate:
        format_sql: true
management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    shutdown:
      enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: '*'
        exclude: beans
server:
  port: 8091
logging:
  level:
    root: info
  file:
    name: cms-portal.log
